:root {
  --sidebar-width: 250px,
}

.main-layout {
  display: flex;
  height: 100vh;

  aside {
    &.aside-section {
      width: var(--sidebar-width);
      background-color: var(--sidebar-bg-color);
      transition: width 0.3s ease;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;
    }
  }

  section {
    &.main-section {
      padding: 0 1rem;
      margin-left: var(--sidebar-width);
      width: 100%;
      transition: margin-left 0.3s ease, width 0.3s ease;
    }
  }
}